<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>Document</title>
</head>

<body>
    <h1>Telefonlar</h1>
    <div class="card-all">
        <% products.forEach(p=> { %>
            <div class="card" style="width: 18rem;">
                <img src="/images/<%=p.img%> " width="350px" height="400px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">
                        <%=p.name %>
                    </h4>
                    <h5 class="card-title">
                        <%=p.price %>
                    </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p><br>
                    <a href="/products/<%=p.id%> "><button class="btn btn-dark">Ürün Detayı</button></a>
                </div>
            </div>
            <% }) %>
    </div> <!--Link ile id'de ki ürüne gitme-->
</body>

</html>