<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap-reboot.min.css">
    <title>Document</title>
</head>
<style>
    .container {
        background-color: aliceblue;
        display: flex;
        align-items: center;

        padding: 5rem;
        width: 750px;
        box-shadow: 3px 3px 32px 3px black;
    }

    .container:hover {

        box-shadow: inset 1px 1px 110px 1px orange;
    }

    .container img {
        padding: 2rem;
    }

    .container h1:hover,
    p:hover {
        color: orange;

    }

    .container h1 {
        font-size: 26px;
    }
</style>

<body>
    <%- include("partials/navbar.ejs") %>

        <div class="container">
            <img src="/images/<%=products.img%>" width="200" alt="">
            <div class="text">
                <h1>
                    Marka:<%=products.name%>
                </h1>
                <hr>
                <h1>
                    Fiyat: <%= products.price %>
                </h1>
                <hr>
                <% if (products.isActive) { %>
                    <h1> Durum :Ürün Satışta</h1>
                    <hr>
                    <% }else{%>
                        <h1> Durum :Satışta değil</h1>
                        <hr>
                        <% } %>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio animi tempore dolore
                                vitae
                                alias,
                                quibusdam maiores distinctio, molestiae neque numquam, natus quis molestias ipsa labore
                                amet
                                rem magni. Voluptatem?</p>
                            <hr>
            </div>
        </div>

</body>

</html>