<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <%- include("partials/navbar.ejs") %>
     
        <!--Dizi şeklinde sıralama-->

        <style>
            body {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: black;
            }
           
        </style> 
        <!--Link ile id'de ki ürüne gitme-->
        <div class="container">
            <%- include("partials/product.ejs") %>
        </div>
</body>

</html>