body {
    color: orange;
    background-color: rgb(57, 56, 56);
    box-shadow: inset 0px 0px 140px 1px rgb(0, 0, 0);

}

.bg-transparent {
    background-color: transparent !important;

}

.navbar {
    text-shadow: 0px -1px 4px #9f19a4, 0px -2px 10px rgb(8, 179, 247), 0px -10px 20px #86d0e9, 0px -18px 40px rgb(0, 247, 255);
    color: #ffb406;
    text-align: right;
    font-size: 35px;
}



.navbar-brand {
    padding-right: 20px;
    text-shadow: 0px -1px 4px #9f19a4, 0px -2px 10px rgb(8, 179, 247), 0px -10px 20px #86d0e9, 0px -18px 40px rgb(0, 247, 255);

    color: peru;
}

.navbar-nav .nav-item .nav-link {
    color: peru;

}

.container-fluid {
    align-items: center;

    justify-content: space-between;
}

.hi-main {
    margin-top: -5.5rem;
    background-image: url("https://images7.alphacoders.com/709/709445.jpg");
    background-size: cover;
    box-shadow: inset 0px 0px 240px 1px rgb(0, 0, 0);
    height: 1000px;
}

.hi-main h1 {
    position: inherit;
    padding: 25rem 40px 40px 50px;
    text-align: right;
    font-size: 46px;
    font: 80px 'Oswald', serif;
    color: #e986e9;
    text-shadow: 0px -1px 4px #195aa4, 0px -2px 10px rgb(247, 151, 8), 0px -10px 20px #e986e9, 0px -18px 40px rgb(255, 221, 0);
}

.abouth {
    color: rgb(85, 83, 83);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;

    background-color: orange;
    box-shadow: inset 0px 0px 140px 1px rgb(0, 0, 0);

}

.profile {
    padding-top: 15px;
    border-radius: 10%;
    margin-left: 4rem;
    margin-top: 50px;
    margin-bottom: 35px;

    max-width: 360px;

    max-height: 560px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 42px 1px rgb(0, 0, 0);
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;

    box-shadow: 0px 4px 13px 3px rgb(0, 0, 0);
}

.profile h2 {
    margin: 10px;
}

.producth {
    background-color: aqua;
    box-shadow: inset 0px 0px 140px 1px rgba(44, 48, 48, 0.984);
    padding: 30px;

}

.con-producth {
    display: flex;
    text-align: center;
    justify-content: center;

}

@media screen and (max-width: 767px) {

    /* tablet ve cep telefonları için stil kuralları */
    .con-producth,.abouth {
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

}

@media screen and (min-width: 768px) {
    /* bilgisayar ekranları için stil kuralları */
}

.card {
    box-shadow: inset 0px 0px 40px 20px rgba(134, 129, 129, 0.722);
    color: rgb(60, 60, 135);
    border-radius: 20%;
    margin: 15px;
}

.con-producth img {
    border-radius: 20%;
    box-shadow: 0px 0px 30px 1px rgb(29, 29, 71);

}